bin/
obj/
.vs/
*.user
TestResults/
release/
portable/
*.log
AltElectron/node_modules/
AltElectron/dist/
AltElectron/portable/
UltraLight/dist/
UltraLight/dist-x86/
UltraLight/build/
UltraLight/build-x86/
UltraLight/__pycache__/
*.spec
