bin/
obj/
.vs/
*.user
TestResults/
release/
portable/
*.log
AltElectron/node_modules/
AltElectron/dist/
AltElectron/portable/
Light/dist/
Light/dist-x86/
Light/build/
Light/build-x86/
Light/__pycache__/
*.spec
